body {
    padding-top: 70px;
}

#logo {
    margin: -15px 0.5em -15px 0;
    height: 36px;
}

#collection {
    margin: 1em 0;
}

small {
    display: block;
}

.media {
    min-height: 8.2em;
}

.navbar-form {
    border: none;
}