body {
    padding-top: 70px;
}

#logo {
    margin: -15px 0.5em -15px 0;
    height: 36px;
}

#collection {
    margin: 1em 0;
}

small {
    display: block;
}

.media {
    min-height: 8.2em;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    #navbar-search {
        overflow-y: auto !important;
    }
}

.navbar-form {
    border: none;
}